.project-item {
  margin: 0.5rem auto;
}
.project-item img {
  aspect-ratio: 1;
  height: 100%;
  object-fit: cover;
  width: clamp(15rem, 16vw, 20rem);
}
.project-item h2 {
  justify-self: start;
  text-align: left;
  margin-left: 1rem;
  font-size: clamp(10px, 3vw, 24px);
}