.crew-landing {
  text-align: center;
}
.crew-landing .image {
  background-color: var(--primary);
  width: min(70%, 20rem);
  margin: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 2rem auto;
}
.crew-landing .crew-time-in {
  width: 70%;
  margin-bottom: 2rem;
  font-weight: bold;
}
.crew-landing .date-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}