@media (orientation: landscape) {
    main:has(main + .dashboard-main) {
        h1 {
            margin-top: 0;
        }
        margin-top: 0;
    }

    .dashboard-main {
        height: auto;

        display: grid;
        grid-template-areas:
            "gantt gantt"
            "pie tasks";

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .gantt-chart {
            grid-area: gantt;
            width: 80%;
            overflow-y: auto;
        }

        .pie-chart {
            grid-area: pie;
            .chart-wrapper {
                margin: auto;
                width: 50%;
            }
        }

        .tasks {
            grid-area: tasks;
            
        }

        .tasks > table > tbody {
            overflow-y: scroll;
            height: auto;
        }

        .wrapper {
            min-height: 50%;
            max-height: 55%;
            overflow-y: auto;
        }
    }
}