@media (orientation: landscape) {
    main:has(main + .dashboard-main) {
        h1 {
            margin-top: 0;
        }
        margin-top: 0;
    }

    .dashboard-main {
        display: grid;
        grid-template-areas:
            "gantt gantt"
            "pie tasks";

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        gap: 1rem;

        .gantt-chart {
            grid-area: gantt;
            width: 100%;
            height: 25vh;
            overflow-y: auto;
        }

        .pie-chart {
            grid-area: pie;
            .chart-wrapper {
                margin: auto;
                width: 50%;
            }
        }

        .tasks {
            grid-area: tasks;
            height: 50vh;
        }

        .tasks > table > tbody {
            overflow-y: scroll;
            height: auto;
        }

        .wrapper {
            max-height: 60%;
            overflow-y: auto;
            border: 2px solid rgba(128, 128, 128, 0.2);
            border-radius: 10px;
        }

    }
}