.images-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem 0.5rem;
}
.images-wrapper .image-item .projImages {
  aspect-ratio: 1;
  width: 9rem;
  object-fit: cover;
  margin: 0;
}
.images-wrapper .action-img {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 9rem;
  object-fit: cover;
  margin: 0;
}
.images-wrapper .action-img .uploadImgIcon {
  aspect-ratio: 1;
  height: 3rem;
  margin-bottom: 1rem;
}
.images-wrapper .action-img span {
  font-size: 1rem;
  display: block;
}
.images-wrapper .action-img:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.action-img > input[type=file] {
  display: none;
}