.list-item {
    margin: .5rem auto;
    background-color: #ffffff;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
    text-align: center;

    .label {
        align-self: center;
        justify-self: flex-start;

        .completed {
            color: rgb(24, 105, 24);
        }
        .delayed {
            color: rgb(148, 26, 26);
        }
    }

    p {
        grid-column: 2/auto;
    }

    img {
        aspect-ratio: 1;
        height: 100%;
        object-fit: cover;
        width: clamp(15rem, 16vw, 20rem);
    }

    h2 {
        justify-self: start;
        text-align: left;
        margin-left: 1rem;
        font-size: clamp(10px, 3vw, 24px);
    }

}

.list-item:not(:has(img)) {
    grid-template-columns: 1fr 1fr;
}

.list-item:hover {
    cursor: pointer;
    background-color: #9b9b9b;
}