nav {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    display: none;
    place-items: center;
    background-color: var(--primary-d);

    .mobile-exit {
        position: fixed;
        top: 2rem;
        right: 2rem;

        .close { 
            height: clamp(1.5rem, 1.5vw, 2rem);
        }

        .close:hover {
            cursor: pointer;
            color: #fff;
        }
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        li {
            font-size: clamp(24px, 4vw, 5rem);
            margin: .5rem auto;
            padding: 1rem;

            span {
                margin-right: .5rem;
            }
        }

        li:hover {
            background-color: #fff;
            border-radius: 25px;
            
            a {
                color: var(--primary-d);
            }
        }
    }
}

.mobile-open {
    display: grid;
}

// 
@media (orientation: landscape) {
    nav, .mobile-open {
        display: block;
        margin: auto none;
        position: relative;
    }

    nav {
        height: 100vh;
        width: 20rem;
        z-index: 200;
        display: flex;
        grid-template-columns: 1fr;
        flex-direction: column;

        margin: none;

        .active-project {
            p {
                font-size: .8rem;
            }
        }

        ul {
            display: block;
            flex: 1;
            justify-self: flex-end;
            align-self: center;
            width: 100%;

            
            li {
                display: block;
                margin: none;
                font-size: clamp(12px, 1.5vw, 1.5rem);
            }
    
            li:hover, li:has(a.active) {
                background-color: #fff;
                border-radius: 25px 0 0 25px;
            }
        }
    }

    .mobile-exit {
        display: none;
    }
}