.toast-message {
    position: fixed;
    // margin-left: 15vw;
    left: 50%;
    bottom: 3vh;
    transform: translate(-50%, 0);
    padding: 1rem 2rem;
    background-color: rgba(179, 19, 179, 1);
    color: white;
    border-radius: 25px;
    transition: .3s ease-in;
    z-index: 999;
}

.hidden {
    bottom: -10vh;
    transition: .3s ease-in;
}

.success {
    background-color: rgba(32, 110, 40, 1);
}

.warning {
    background-color: rgba(95, 28, 28, 1);
}