.search-bar {
  background-color: var(--primary);
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.search-bar #searchbar {
  border: none;
  background-color: var(--primary);
  flex-grow: 1;
  padding-left: 1rem;
}
.search-bar #searchbar::placeholder {
  color: rgb(0, 0, 0);
}
.search-bar .magnify-icon {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: auto 0.2rem;
}
.search-bar .magnify-icon:hover {
  color: rgb(255, 255, 255);
  background-color: var(--primary);
  cursor: pointer;
}

.project-item {
  background-color: #ffffff;
  display: grid;
  place-items: center;
  text-align: center;
  width: 100%;
}
.project-item p {
  grid-column: 2/auto;
}