nav {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: grid;
  place-items: center;
  background-color: var(--primary-d);
}
nav .mobile-exit {
  position: fixed;
  top: 2rem;
  right: 2rem;
}
nav .mobile-exit .close {
  height: clamp(1.5rem, 1.5vw, 2rem);
}
nav .mobile-exit .close:hover {
  cursor: pointer;
  color: #fff;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav ul li {
  font-size: clamp(16px, 6vw, 3rem);
  margin: auto;
  padding: 1rem;
}
nav ul li span {
  margin-right: 0.5rem;
}
nav ul li:hover {
  background-color: #fff;
  border-radius: 25px;
}
nav ul li:hover a {
  color: var(--primary-d);
}