.projects-handled {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 50%;
    border: 2px solid var(--primary);
    margin-bottom: 1rem;

    .empty-indicator {
        align-self: center;
        justify-self: center;
        flex-grow: 1;
    }
}