.project-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: .5rem 0;

    img {
        aspect-ratio: 1;
        height: 100%;
        object-fit: cover;
    }

    h2 {
        justify-self: start;
        text-align: left;
        margin-left: 1rem;
        font-size: clamp(10px, 3vw, 24px);
    }

}