.component-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1rem 0 2rem;
}

.left-header {
  justify-self: center;
}
.left-header .image {
  background-color: var(--primary);
  display: inline-block;
  width: 6rem;
  height: 6rem;
  display: grid;
  place-items: center;
  border-radius: 16px;
}

.right-header {
  align-self: center;
}