@import url("./assets/fonts/aileron_heavy_macroman/aileron.css");
@import url("./global.css");
/* VARIABLES */
:root {
  --primary: #ffbd59;
  --primary-d: #f3a545;
}

/* TYPOGRAPHY */
* {
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-top: 1rem;
  font-family: "aileronheavy", sans-serif;
  font-size: 2.2rem;
}

.text-center {
  text-align: center;
}

/* FORM STYLES */
.form-sub {
  color: var(--primary);
  font-size: 0.7rem;
}

label {
  font-weight: lighter;
  font-size: clamp(0.7rem, 1vw, 1rem);
}

.buttons {
  text-align: center;
}
.buttons input[type=submit] {
  margin: 1rem auto;
  display: block;
  border: none;
  background-color: var(--primary);
  font-weight: bold;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 80%;
}
.buttons input[type=submit]:hover {
  cursor: pointer;
}
.buttons a:hover {
  color: var(--primary);
}

a {
  text-decoration: none;
  color: black;
}

/* MAIN */
.App .desktop-right {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #fafafa;
  align-self: flex-start;
  grid-template-rows: max-content auto max-content;
}

body {
  position: relative;
}

main {
  width: 100vw;
  background-color: #ffffff;
  align-self: flex-start;
  position: relative;
  overflow-y: auto;
  max-height: 85vh;
}

main > h2 {
  text-align: center;
}

.main-component {
  margin: 1.5rem auto 0;
  width: 90%;
  min-height: 65vh;
  align-self: flex-start;
  position: relative;
}

.main-component:only-of-type {
  height: 80%;
}

.icon {
  width: 1.5rem;
  padding: 0.5rem 0.25rem;
  border-radius: 7px;
  color: var(--primary);
  cursor: pointer;
}

.icon-trim {
  padding: 0;
  margin: 0;
}

.settings-icon {
  color: rgb(255, 255, 255);
  background-color: var(--primary);
}

.exit {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
  padding: 0.2rem 0;
  border: 2px solid var(--primary);
  border-radius: 50%;
}

.exit:hover {
  color: #fff;
  cursor: pointer;
  background-color: var(--primary);
}

.title {
  text-align: center;
  background-color: var(--primary-d);
  padding: 0.5rem;
}

.search-bar {
  background-color: var(--primary);
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.search-bar #searchbar {
  border: none;
  background-color: var(--primary);
  flex-grow: 1;
  padding-left: 1rem;
}
.search-bar #searchbar::placeholder {
  color: rgb(0, 0, 0);
}
.search-bar .magnify-icon {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: auto 0.2rem;
}
.search-bar .magnify-icon:hover {
  color: rgb(255, 255, 255);
  background-color: var(--primary);
  cursor: pointer;
}

.component-header:has(.left-header + .right-header) {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1rem 0 2rem;
}

.component-header {
  grid-template-columns: 1fr;
}

.left-header {
  justify-self: center;
}
.left-header .image {
  background-color: var(--primary);
  display: inline-block;
  object-fit: cover;
  margin: auto;
  width: 10rem;
  height: 10rem;
  display: grid;
  place-items: center;
  border-radius: 16px;
}

.right-header {
  align-self: center;
  margin-left: 2rem;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
}
.modal-wrapper .modal-content {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 1rem;
  border: 5px solid rgb(0, 0, 0);
  position: relative;
  width: 90%;
}
.modal-wrapper .modal-content input {
  margin: 1rem auto;
  width: 100%;
  display: block;
}
.modal-wrapper .modal-content .upImg-modal {
  height: 25rem;
  width: 25rem;
  object-fit: contain;
}
.modal-wrapper .modal-content .form-input {
  background-color: #fff;
}

.img-upload-caption {
  display: grid;
  grid-template-rows: 2fr max-content;
}
.img-upload-caption img {
  width: clamp(15rem, 20vw, 20rem);
  aspect-ratio: 1;
  object-fit: cover;
}

form {
  margin: auto;
}

.form-input {
  border: 2px solid var(--primary);
  margin: 0.5rem auto;
  padding: 0 0.25rem;
  display: flex;
}
.form-input label {
  font-size: 0.85rem;
}
.form-input input {
  font-size: 0.85rem;
  background-color: transparent;
  border: none;
  margin-left: 0.5rem;
  flex-grow: 1;
}
.form-input select {
  border: none;
  font-size: 0.85rem;
}

.form-input:has(#percentageText, #percentageSlider) .percentage-wrapper {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr auto;
}
.form-input:has(#percentageText, #percentageSlider) .percentage-wrapper input[type=number] {
  width: 3rem;
}

.form-input.form-borderless {
  border: none;
  margin: calc(0.5rem + 3px) auto;
  padding: 0 calc(0.25rem + 2px);
}

.form-input.form-inverse {
  border: none;
}

.form-input.form-inverse > input {
  background-color: var(--primary);
  border: none;
  border-radius: 14px;
}

.upload-img {
  background-color: #dedede;
  padding: 0.2rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--primary-d);
  border-radius: 16px;
  display: block;
  text-align: center;
  font-size: clamp(12px, 1vw, 1rem);
  margin: 0 auto;
  padding: 6px 12px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary);
}

.btn-group {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.btn-group-vertical {
  flex-direction: column;
}
.btn-group-vertical .btn {
  flex-grow: 1;
  margin: 0;
}

.download-btn, .daily-report-btn {
  margin-top: 1rem;
}

.red-btn {
  color: #fff;
  background-color: rgb(199, 32, 32);
}

.green-btn {
  color: #fff;
  background-color: rgb(26, 155, 73);
}

.red-btn:hover {
  background-color: rgb(194, 32, 32);
}

.green-btn:hover {
  background-color: rgb(25, 142, 68);
}

.add-button {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0.5rem auto;
  font-size: clamp(16px, 2vw, 1.5rem);
}
.add-button svg {
  background-color: grey;
  color: black;
  border-radius: 0;
  margin-right: 0.5rem;
  height: 3rem;
  width: 3rem;
}

.add-button:hover {
  cursor: pointer;
}
.add-button:hover svg {
  background-color: var(--primary);
  color: black;
}

.align-right-g {
  margin: 2rem;
}

.footer {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column-reverse;
  align-self: flex-end;
  text-align: center;
  background-color: var(--primary);
  bottom: 0;
}
.footer .prompt {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.footer .prompt p, .footer .prompt a {
  color: rgb(255, 255, 255);
}
.footer .prompt a {
  padding-left: 0.2rem;
  font-weight: bold;
}
.footer * {
  display: inline-block;
}

@media (orientation: landscape) {
  /* MAIN */
  .App {
    display: flex;
    height: 100vh;
    background-color: #fafafa;
    align-self: flex-start;
  }
  .desktop-left {
    background-color: var(--primary-d);
  }
  .desktop-right {
    flex: 1;
    align-self: flex-start;
    position: relative;
  }
  .desktop-right .dashboard-main {
    overflow-y: hidden;
  }
  .main-component:has(.admin-list + .company-list) {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .main-component:has(.admin-list + .company-list) .admin-list, .main-component:has(.admin-list + .company-list) .company-list {
    display: grid;
    grid-template-rows: auto max-content;
    height: 50vh;
  }
  .main-component:has(.admin-list + .company-list) .admin-list .btn, .main-component:has(.admin-list + .company-list) .company-list .btn {
    align-self: flex-end;
  }
  .main-component {
    position: static;
    max-height: 70vh;
    overflow-y: auto;
  }
  main {
    margin: 0.5rem auto;
    background-color: #ffffff;
    height: 100vh;
    align-self: flex-start;
    overflow-y: auto;
    width: 100%;
    justify-self: center;
    position: relative;
  }
  .modal-wrapper {
    background-color: rgba(89, 89, 89, 0.206);
  }
  .modal-wrapper .modal-content {
    width: 30%;
    max-width: 60%;
  }
  .modal-wrapper .images-modal-content {
    max-width: 80%;
    width: 50%;
  }
  .img-upload-caption img {
    aspect-ratio: 10/7;
  }
}