@import url('./assets/fonts/aileron_heavy_macroman/aileron.css');
@import url('./global.css');

/* VARIABLES */
:root {
  --primary: #ffbd59;
}

/* TYPOGRAPHY */
* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin-top: 4rem;
  font-family: "aileronheavy", sans-serif;
  font-size: 2.2rem;
}

.hero-text {
    text-align: center;

    .form-sub > a {
        color: var(--primary);
    }
}

.text-center {
  text-align: center;
}

/* FORM STYLES */
.form-sub {
  color: var(--primary);
  font-size: .7rem;
}

label {
  font-weight: lighter;
  font-size: .7rem;
}

.buttons {
    text-align: center;

    input[type="submit"]{
      margin-top: 1rem;
      display: block;
      border: none;
      background-color: var(--primary);
      font-weight: bold;
      border-radius: 5px;
      padding: .5rem 1rem;
      width: 100%;
    }

    input[type="submit"]:hover{
        cursor: pointer;
    }

    a:hover {
        color: var(--primary);
    }
}

a {
    text-decoration: none;
    color: black;
}

.lower-field {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;
  .form-icon {
    color: var(--primary);
    width: 1.5rem;
    margin: auto .2rem;
  }

  input[type="text"],
  input[type="password"]{
    margin-left: .5rem;
    padding: .3rem;
    border: none;
    border-left: var(--primary) 2px solid;
  }
  
  border-bottom: var(--primary) 2px solid;
}

/* MAIN */
.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #fafafa;
  align-self: flex-start;
  grid-template-rows: max-content 1fr max-content;
}

main {
  margin-top: 0.5rem;
  width: 100vw;
  background-color: #ffffff;
  align-self: flex-start;
}

.main-component {
  margin: 1.5rem auto 0;
  width: 90%;
  height: 75vh;
  overflow-y: auto;
}

// ICONS
.icon {
    width: 1.5rem;
    padding: .5rem .25rem;
    border-radius: 7px;
    color: var(--primary);
}

.icon-trim {
  padding: 0;
  margin: 0;
}

.settings-icon {
    color: rgb(255,255,255);
    background-color: var(--primary);
}

// FORM
.form-input {
  border: 2px solid var(--primary);
  margin: .5rem auto;
  padding: 0 .25rem;
  display: flex;
  
  label {
    font-size: .85rem;
  }

  input {
    font-size: .85rem;
    background-color: transparent;
    border: none;
    margin-left: .5rem;
    flex-grow: 1;
  }
}

.form-input.form-borderless {
  border: none;
  margin: calc(.5rem + 3px) auto;
  padding: 0 calc(.25rem + 2px);
}

.form-input.form-inverse {
  border: none;
}

.form-input.form-inverse > input {
  background-color: var(--primary);
  border: none;
  border-radius: 14px;
}


.btn {
  background-color: var(--primary);
  border-radius: 16px;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 6px 12px;
}

.btn:hover {
  cursor: pointer;
}

// FOOTER
.footer {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-end;

    .prompt {
        padding: .5rem;
        background-color: rgba(0, 0, 0, .5);
        p, a {
            color: rgb(255, 255, 255);
        }
        a {
            padding-left: .2rem;
            font-weight: bold;
        }
    }
    text-align: center;
    background-color: var(--primary);
    bottom: 0;
    * {
        display: inline-block;
    }
}