@import url('./assets/fonts/aileron_heavy_macroman/aileron.css');
@import url('./global.css');

/* VARIABLES */
:root {
  --primary: #ffbd59;
  --primary-d: #f3a545;
}

/* TYPOGRAPHY */
* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin-top: 1rem;
  font-family: "aileronheavy", sans-serif;
  font-size: 2.2rem;
}

.hero-text {
    text-align: center;

    .form-sub > a {
        color: var(--primary);
    }
}

.text-center {
  text-align: center;
}

/* FORM STYLES */
.form-sub {
  color: var(--primary);
  font-size: .7rem;
}

label {
  font-weight: lighter;
  font-size: .7rem;
}

.buttons {
    text-align: center;

    input[type="submit"]{
      margin-top: 1rem;
      display: block;
      border: none;
      background-color: var(--primary);
      font-weight: bold;
      border-radius: 5px;
      padding: .5rem 1rem;
      width: 100%;
    }

    input[type="submit"]:hover{
        cursor: pointer;
    }

    a:hover {
        color: var(--primary);
    }
}

a {
    text-decoration: none;
    color: black;
}

.lower-field {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;
  .form-icon {
    color: var(--primary);
    width: 1.5rem;
    margin: auto .2rem;
  }

  input[type="text"],
  input[type="password"]{
    margin-left: .5rem;
    padding: .3rem;
    border: none;
    border-left: var(--primary) 2px solid;
  }
  
  border-bottom: var(--primary) 2px solid;
}

/* MAIN */
.App .desktop-right{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #fafafa;
  align-self: flex-start;
  grid-template-rows: max-content 1fr max-content;
}

main {
  margin-top: 0.5rem;
  width: 100vw;
  background-color: #ffffff;
  align-self: flex-start;
}

.main-component {
  margin: 1.5rem auto 0;
  width: 90%;
  height: 65vh;
  overflow-y: auto;
  align-self: flex-start;
}

.main-component:only-of-type {
  height: 80%;
}
// ICONS
.icon {
    width: 1.5rem;
    padding: .5rem .25rem;
    border-radius: 7px;
    color: var(--primary);
    cursor: pointer;
}

.icon-trim {
  padding: 0;
  margin: 0;
}

.settings-icon {
    color: rgb(255,255,255);
    background-color: var(--primary);
}

// Components
.title {
  text-align: center;
  background-color: var(--primary-d);
  padding: .5rem;
}

.search-bar {
  background-color: var(--primary);
  display: flex;
  width: 90%;
  margin: 0 auto;

  #searchbar {
      border: none;
      background-color: var(--primary);
      flex-grow: 1;
      padding-left: 1rem;
  }

  #searchbar::placeholder {
      color: rgb(0,0,0);
  }

  .magnify-icon {
      background-color: rgb(255,255,255);
      border-radius: 50%;
      margin: auto .2rem;
  }

  .magnify-icon:hover {
      color: rgb(255,255,255);
      background-color: var(--primary);
      cursor: pointer;
  }
}

.component-header:has(.left-header + .right-header) {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1rem 0 2rem;
}

.component-header {
  grid-template-columns: 1fr;
}

.left-header {
  justify-self: center;

  .image {
      background-color: var(--primary);
      display: inline-block;
      margin: auto;
      width: 10rem;
      height: 10rem;
      display: grid;
      place-items: center;
      border-radius: 16px;
  }
}

.right-header {
  align-self: center;
}

// FORM
.form-input {
  border: 2px solid var(--primary);
  margin: .5rem auto;
  padding: 0 .25rem;
  display: flex;
  
  label {
    font-size: .85rem;
  }

  input {
    font-size: .85rem;
    background-color: transparent;
    border: none;
    margin-left: .5rem;
    flex-grow: 1;
  }
}

.form-input.form-borderless {
  border: none;
  margin: calc(.5rem + 3px) auto;
  padding: 0 calc(.25rem + 2px);
}

.form-input.form-inverse {
  border: none;
}

.form-input.form-inverse > input {
  background-color: var(--primary);
  border: none;
  border-radius: 14px;
}

// Icons/Buttons/Miscs

.upload-img {
  background-color: #dedede;
  padding: .20rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--primary-d);
  border-radius: 16px;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 6px 12px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary);
}

.add-button {
  display: flex;
  align-items: center;
  width: 90%;
  margin: .5rem auto;
  font-size: clamp(16px, 2vw, 1.5rem);
  
  svg {
    background-color: grey;
    color: black;
    border-radius: 0 ;
    margin-right: .5rem;
    height: 3rem;
    width: 3rem;
  }
}

.add-button:hover {
  cursor: pointer;
  svg {
    background-color: var(--primary);
    color: black;
  }
}

.align-right-g {
  margin: 2rem;
}

// FOOTER
.footer {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-end;

    .prompt {
        padding: .5rem;
        background-color: rgba(0, 0, 0, .5);
        p, a {
            color: rgb(255, 255, 255);
        }
        a {
            padding-left: .2rem;
            font-weight: bold;
        }
    }
    text-align: center;
    background-color: var(--primary);
    bottom: 0;
    * {
        display: inline-block;
    }
}

// LANDSCAPE

@media (orientation: landscape) {
  /* MAIN */
  .App {
    display: flex;
    height: 100vh;
    background-color: #fafafa;
    align-self: flex-start;
  }

  .desktop-left {
    background-color: var(--primary-d);
  }

  .desktop-right {
    flex: 1;
    align-self: flex-start;

    .dashboard-main{
      overflow-y: hidden;
    }
  }

  main {
    margin: 0.5rem auto;
    background-color: #ffffff;
    align-self: center;
    overflow-y: auto;
    width: 100%;
  }
}