.crew-salary {
  width: 10rem;
}
.crew-salary .salary-item {
  border: 2px solid var(--primary);
  display: grid;
  grid-template-rows: auto fit-content;
  place-items: center;
}
.crew-salary .salary-item .number {
  padding: 1rem;
}
.crew-salary .salary-item .label {
  align-self: flex-end;
  justify-self: flex-start;
  text-indent: 0.5rem;
}